body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #2980b9, #2c3e50); 
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.title {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.side {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    width: 200px;
    margin-top: 20px;
    border-radius: 20px 0 0 20px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.side ul {
    list-style: none;
    padding: 0;
}

.side ul li {
    margin-bottom: 10px;
}

.side ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
}

.side ul li a:hover {
    background-color: rgba(255, 255, 255, 0.7); 
}

.main {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    flex: 1;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}

.biodata {
    background-color: rgba(255, 255, 255, 0.9);                 
    padding: 20px;
    width: 200px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    border-radius: 0 20px 20px 0;
    
}

.profile-img {
    display: block;
    width: 100%;
    height: auto;
<<<<<<< HEAD
    border-radius: 20%; 
    margin-bottom: 20px;
}


@media screen and (max-width: 767px) {
    .flex-container {
        flex-direction: column;
    }
    .side, .main, .biodata {
        width: 100%;
        margin-top: 0;
    }
    .side {
        margin-bottom: 20px; 
=======
    border-radius: 50%; /* Agar gambar berbentuk lingkaran */
    margin-bottom: 20px; /* Tambahkan margin bawah */
}
/* Untuk layar seluler dengan lebar maksimum 767px */
@media screen and (max-width: 767px) {
    .flex-container {
        flex-direction: column; /* Mengubah orientasi flex menjadi kolom */
    }
    .side, .main, .biodata {
        width: 100%; /* Mengisi lebar layar */
        margin-top: 0; /* Menghilangkan margin atas */
    }
    .side {
        margin-bottom: 20px; /* Menambahkan margin bawah untuk memisahkan dari konten utama */
>>>>>>> 9ff2e1b09f6c8cdc505436a9773f420921ddb1b2
    }
}
